{% extends "base.html" %}

{% block navbar %}
<a class="nav-link ml-auto text-secondary" href="{% url 'contact_create' %}">Add Contact</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            {% if contacts %}
                <table class="table table-hover">
                    <thead class="thead">
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Company</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                            <tr class="clickable" onclick="window.location='{% url 'contact_detail' contact.id %}'">
                                <td>{{ contact.first_name }}</td>
                                <td>{{ contact.last_name }}</td>
                                {% if contact.company %}
                                <td>{{ contact.company }}</td>
                                {% else %}
                                <td>None</td>
                                {% endif %}
                                <td class="text-right">
                                    <a href="{% url 'contact_update' contact.id %}"><button type="button" class="btn btn-outline-primary btn-sm">Edit</button></a>
                                    <a href="{% url 'contact_delete' contact.id %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>No contacts found.</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}