{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h3>Delete Phone</h3>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <p>Are you sure you want to delete <b>{{ phone.number }}</b> from <b>{{ person }}</b>?</p>
                    <button type="submit" class="btn btn-danger btn-lg">Yes</button>
                    <a href="{% url 'contact_detail' person.id %}"><button type="button" class="btn btn-secondary btn-lg">No</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}